* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

body {
  background-color: darkviolet;
}
.todo-app {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 520px;
  min-height: 600px;
  background: #af0b70;
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
}

h1 {
  margin: 32px 0;
  color: #fff;
  font-size: 32px;
}

.complete {
  text-decoration: line-through;
  opacity: 0.4;
}

.todo-form {
  margin-bottom: 32px;
}

.todo-input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid rgb(0, 0, 0);
  outline: none;
  width: 320px;
  background: transparent;
  color: #fff;
}

.todo-input::placeholder {
  color: #e2e2e2;
}

.todo-button {
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: black;
  color: #fff;
  text-transform: capitalize;
}

.todo-input.edit {
  border: 2px solid #000000;
}

.todo-button.edit {
  background: black;
  padding: 16px 22px;
}

.todo-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: #fff;
  background: rgb(94, 4, 22);

  padding: 16px;
  border-radius: 5px;
  width: 90%;
}
 

.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
  
}

.delete-icon {
  margin-right: 5px;
  color: #fff;
  background-color: red;
  border-radius: 50%;
}

.edit-icon {
  color: #fff;
  background-color: gray;
  border-radius: 50%;
}


.tick-icon {
  color: #fff;
  margin-right:5px;
  background-color: rgb(104, 187, 8);
  border-radius: 50%;
}